*.swp
venv/
*.pyc
.idea/
*.params
*-ubyte
*.mat
temp*
params/
data/
results/
*.bmp
*.log
*.zip
*.out
*.blg
*.bbl
*.out
*.gz
*.aux
*.pdf
*~
test*
paper/.*
*.dvi
*.fig
latexsource/
*.data
~*
*.brf
orcidlink.sty